
<div  ng-controller="IzvestajCtrl as fakturaCtrl" class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<form name = "fakturaForm"  ng-submit = "fakturaForm.$valid && fakturaCtrl.submitClick()">
	  		Datum izvoda : <input type="date" class="form-control" ng-model="fakturaCtrl.izvod.datum" maxlength="25">
	  		Broj racuna : <input type="text" class="form-control" ng-model="fakturaCtrl.izvod.brojRacuna" maxlength="25">
	  		Broj preseka : <input type="number" class="form-control" ng-model="fakturaCtrl.izvod.brojPreseka" min="0">
		  	
	    	<button type="submit" class="btn btn-default" >Potvrdi</button>
		</form>
		
		{{izvestaj}}
	</div>
	<div class="col-sm-4"></div>
</div>


			